  .Home{
         background-image: url('https://images6.alphacoders.com/103/1035008.jpg');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         padding-top: 30px;
         width: 100%;
         height: 100vh;
         /* margin-top: 200px;
         color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    */
    }
    
    
    .navbar {
      background-color: rgba(0, 0, 0, 0.5);
      


    }
    
    .nav-link {
      color: #fff;
    }
    
    .nav-link:hover {
      color: #695232;
    }
    
    .navbar-brand {
      color: #fff;
    }
    
    .navbar-brand:hover {
      color: #f0ad4e;
    }
    
    #demo1  {
      margin-top: 200px;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
     
    }
    
    


.card {
  margin-bottom: 30px;
}

/*  hover effect to the cards */
.card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

/* Center the card titles */
.card-title {
  text-align: center;
  margin-bottom: 0;
}

/*  border to the images */
.card-img-top {
  border: 1px solid #ccc;
}

/* Adjusting the size of the images */
.card-img-top {
  height: 250px;
  object-fit: cover;
}
  #con{
    border: 2px solid black;
    width: 80%;
    border-radius: 40px;

  }
#bttn{
  margin-bottom: 30px;
}
.footer {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;
}

.footer h3 {
  margin-top: 0;
}

.footer p {
  margin-bottom: 0;
}

.social {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.social li {
  display: inline-block;
  margin-right: 10px;
}

.social li:last-child {
  margin-right: 0;
}

.social a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.social a:hover {
  background-color: grey;
}

.social i {
  font-size: 20px;
}
